/* Estilos generales */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #0a6ab4;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

.container {
    min-height: 100vh;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0037ff42;
    box-shadow: 0 0 10px #0d77c33b;
    display: flex;
    flex-direction: column;
}

.imagen {
    width: 100%;
    text-align: center; /* Centra la imagen */
}

.imagen img {
    width: 100%;
    max-width: 300px; /* Tamaño máximo para que no se extienda demasiado */
    height: auto;
}

nav {
    background-color: #1694ce;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Asegura que los elementos se ajusten en pantallas pequeñas */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffffef;
    text-decoration: none;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #0073e6;
    border-radius: 5px;
}

section {
    background-color: #eaeaea;
    margin: 15px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #003366;
}

.video {
    padding: 20px;
    text-align: center;
}

video {
    max-width: 100%;
    height: auto;
    max-width: 300px; /* Tamaño máximo en pantallas pequeñas */
}

footer {
    text-align: center;
    background-color: #003366;
    color: white;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .imagen img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    nav ul {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos del menú */
    }

    video {
        max-width: 100%;
        max-width: 300px; /* Redimensiona el video en móviles */
    }
}
